<script>
    function showShoppingCart() {
        let shoppingCartTable = document.getElementById('shoppingCartTable');

        let shoppingCart = JSON.parse(window.localStorage.getItem('shoppingCart'));
        let str = '';
        shoppingCart.forEach(product => {
            let subTotal = parseInt(product.price) * parseInt(product.quantity);
            subTotal = subTotal + ".00";
            str += `<tr>
                <td>
                    <img id="productCartImg"
                    src="${product.imgFile}"
                    alt="">
                    <h4>${product.name}</h4>
                </td>
                <td>
                    <div id="quantitySection">
                        <select id="quantity"></select>
                    </div>
                </td>
                <td>${product.price}</td>
                <td>${subTotal} DKK</td>
                <td>
                    <img src="images/delete.png" width="30px" alt="">
                </td>
            </tr>`;
        });
        shoppingCartTable.innerHTML = str;
    }

    document.addEventListener('DOMContentLoaded', e => {
        showShoppingCart();
    });
</script>
<div class="small-container">
    <h2>Varer i inkøbskurv</h2>
    <div class="row">
        <table id="shoppingCartTable">
            <tr>
                <th>Produkt</th>
                <th>Antal</th>
                <th>Pris</th>
                <th>Subtotal</th>
                <th>Slet</th>
            </tr>
        </table>
        <a href="" class="addToCartBtn" id="checkoutBtn">Gå til kassen</a>
    </div>
</div>