<div class="small-container">
    <h2>Varer i inkøbskurv</h2>
    <div class="row">
        <table>
            <tr>
                <th>Produkt</th>
                <th>Antal</th>
                <th>Pris</th>
                <th>Subtotal</th>
                <th>Slet</th>
            </tr>
            <tr>
                <td>
                    <img id="productCartImg"
                        src="http://localhost:5000/images/products/Nintendo-Switch-Red-Blue---2019.jpeg"
                        alt="Your Image">
                    <h4>Nintendo Switch - Red/Blue - 2019</h4>
                    <p id="productDescription">Nintendo Switch – Red/Blue – 2019 er en spillekonsol med Joy-Con motion
                        controllers, op til ni timers batteri og 6,2” HD-skærm. Find mange populære spil til Nintendo
                        Switch.</p>
                </td>
                <td>
                    <p>Nintendo Switch – Red/Blue – 2019 er en spillekonsol med Joy-Con motion controllers, op til ni
                        timers batteri og 6,2” HD-skærm. Find mange populære spil til Nintendo Switch.</p>
                </td>
                <td>3000 DKK</td>
                <td>6000 DKK</td>
                <td>X</td>
            </tr>
            <tr>
                <td>
                    <img id="productCartImg"
                        src="http://localhost:5000/images/products/Nintendo-Switch-Red-Blue---2019.jpeg"
                        alt="Your Image">
                    <h4>Nintendo Switch - Red/Blue - 2019</h4>
                    <p id="productDescription">Nintendo Switch – Red/Blue – 2019 er en spillekonsol med Joy-Con motion
                        controllers, op til ni timers batteri og 6,2” HD-skærm. Find mange populære spil til Nintendo
                        Switch.</p>
                </td>
                <td>
                    <p>Nintendo Switch – Red/Blue – 2019 er en spillekonsol med Joy-Con motion controllers, op til ni
                        timers batteri og 6,2” HD-skærm. Find mange populære spil til Nintendo Switch.</p>
                </td>
                <td>3000 DKK</td>
                <td>6000 DKK</td>
                <td>X</td>
            </tr>
        </table>
        <a href="" class="addToCartBtn" id="checkoutBtn">Gå til kassen</a>                        
    </div>
</div>