<script>
    // Show products in cart
    function showShoppingCart() {
        let shoppingCartTable = document.getElementById('shoppingCartTable');

        let shoppingCart = JSON.parse(window.localStorage.getItem('shoppingCart'));
        let str = '';
        shoppingCart.forEach(product => {
            let subTotal = parseInt(product.price) * parseInt(product.quantity);
            subTotal = subTotal + ".00";
            str += `<tr>
                <td>
                    <img id="productCartImg"
                    src="${product.imgFile}" alt="">
                    <h4>${product.name}</h4>
                    <p>${product.description}</p>
                </td>
                <td>
                    <div id="quantitySection">
                        <button id="quantityMinus-${product.productID}" style="width: 20%">-</button><input id="quantityInput-${product.productID}" value="${product.quantity}" style="width: 40%; text-align: center;"></input><button id="quantityPlus-${product.productID}" style="width: 20%">+</button>
                    </div>
                </td>
                <td>${product.price}</td>
                <td id="subTotal-${product.productID}">${subTotal} DKK</td>
                <td>
                    <a href="" id="deleteBtn-${product.productID}"><img src="images/delete.png" width="30px" alt=""></a>
                </td>
            </tr>`;
        });
        shoppingCartTable.innerHTML += str;

        showQuantity(shoppingCart);
    }
    // Show quantity of products
    function showQuantity(shoppingCart) {
        let tempShoppingCart = shoppingCart;

        tempShoppingCart.forEach(product => {
            let quantityInput = document.getElementById('quantityInput-' + product.productID);
            let quantityMinus = document.getElementById('quantityMinus-' + product.productID);
            let quantityPlus = document.getElementById('quantityPlus-' + product.productID);
            let subTotal = document.getElementById('subTotal-' + product.productID);
            let deleteBtn = document.getElementById('deleteBtn-' + product.productID);

            deleteBtn.addEventListener('click', e => {
                e.preventDefault();
                let index = tempShoppingCart.indexOf(product);
                tempShoppingCart.splice(index, 1);
                window.localStorage.setItem('shoppingCart', JSON.stringify(tempShoppingCart));
                
            });

            quantityMinus.addEventListener('click', e => {
                quantityInput.value = quantityInput.value - 1;
                product.quantity = quantityInput.value;

                window.localStorage.setItem('shoppingCart', JSON.stringify(tempShoppingCart));
            });

            quantityPlus.addEventListener('click', e => {
                quantityInput.value = parseInt(quantityInput.value) + 1
                product.quantity = quantityInput.value;

                window.localStorage.setItem('shoppingCart', JSON.stringify(tempShoppingCart));
            });


            quantityInput.addEventListener('input', e => {
                product.quantity = e.target.value;
                let newSubTotal = parseInt(product.price) * parseInt(e.target.value);
                subTotal.innerText = newSubTotal + ".00 DKK";
                if (!newSubTotal) {
                    subTotal.innerText = "0 DKK";
                }

                window.localStorage.setItem('shoppingCart', JSON.stringify(tempShoppingCart));
            });
        });
    }

    document.addEventListener('DOMContentLoaded', e => {
        showShoppingCart();
    });
</script>
<div class="small-container">
    <h2>Varer i inkøbskurv</h2>
    <div class="row">
        <table id="shoppingCartTable">
            <tr>
                <th>Produkt</th>
                <th>Antal</th>
                <th>Pris</th>
                <th>Subtotal</th>
                <th>Slet</th>
            </tr>
        </table>
        <p>Total: 1.000.000 DKK</p>
        <a href="" class="addToCartBtn" id="checkoutBtn">Gå til kassen</a>
    </div>
</div>