<script>
  // Show products by categoryID
  function showProductsByCategoryID() {
    let productsByCategoryID;
    productsByCategoryID = document.getElementById('productsByCategoryID');

    fetch('http://localhost:5000/products/getbycategoryid/' + {{ id }})
    .then(response => response.json())
    .then(json => {
      let str = '';
      json.forEach(product => {
        str +=
          `<a href="http://localhost:3000/productdetails/${product.productID}"><div class="col-4">
          <img src="${product.imageFile}">
          <h4>${product.name}</h4>
          <p hidden class="productID">${product.productID}</p>
          <p hidden class="description">${product.description}</p>
          <p class="price">${product.price} DKK</p>
          <a href="" class="addToCartBtn"><img src="http://localhost:3000/images/cart.png">Tilføj</a>                        
          </div></a>`;
      });

      productsByCategoryID.innerHTML = str;
    })
    .then(function () {
      addEventOnAddBtn();
    });
  }

  // On DOMContentLoaded execute showProductsByCategoryID()
  window.addEventListener('DOMContentLoaded', e => {
    showProductsByCategoryID();
  });

</script>
<!--- Shows all products by category id--->
<div class="small-container">
  <h2>{{ categoryName }}</h2>
  <div class="row" id="productsByCategoryID">
  </div>
</div>