<script>
    // Show categories
    function showCategories() {
        let categories;
        categories = document.getElementById('ulCategories');

        fetch('http://localhost:5000/productcategory')
            .then(response => response.json())
            .then(json => {
                let str = '';
                json.forEach(category => {
                    str +=
                        `<li>
                        <a href="${'http://localhost:3000/category/' + category.productCategoryID + '/' + category.categoryName}">
                        <img src="${category.imageFile}" height="85px" width="85px">
                        <p>${category.categoryName}</p>
                        </a>
                        </li>`;
                });

                categories.innerHTML = str;
            });
    }

    // Show recent products 
    function showRecentProducts() {
        let recentProducts;
        recentProducts = document.getElementById('recentProducts');

        fetch('http://localhost:5000/products/getrecent')
            .then(response => response.json())
            .then(json => {
                let str = '';
                json.forEach(product => {
                    str +=
                        `<a href="http://localhost:3000/productdetails/${product.productID}"><div class="col-4">
                        <img src="${product.imageFile}">
                        <h4>${product.name}</h4>
                        <p hidden class="productID">${product.productID}</p>
                        <p hidden class="description">${product.description}</p>
                        <p class="price">${product.price} DKK</p>
                        <a href="" class="addToCartBtn"><img src="http://localhost:3000/images/cart.png">Tilføj</a>                        
                        </div></a>`;
                });

                recentProducts.innerHTML = str;
            }).then(function () {
                addEventOnAddBtn();
            });
    }

    // On DOMContentLoaded execut methods 
    document.addEventListener('DOMContentLoaded', e => {
        showCategories();
        showRecentProducts();
    });

</script>
<div class="row" id="homeRow">
    <div class="col-2">
        <h1>Udviklet på vanilla HTML, CSS, JS og Express - Node.js</h1>
        <p>En webshop der er udviklet på vanilla HTML, CSS og JavaScript på frontend-delen! Og en backend der er
            udviklet på Express - Node.js</p>
        <a href="/products" class="btn">Se alle produkter <img src="images/bg-arrow.png" height="80px"></a>
    </div>
    <div class="col-2">
        <img src="images/bg-image.png">
    </div>
</div>
<div class="categories">
    <ul id="ulCategories"></ul>
</div>
<!--- Recent added products --->
<div class="small-container">
    <h2>Senest tilføjede produkter</h2>
    <div class="row" id="recentProducts">
    </div>
</div>