<script>
    // Show categories
    function showCategories() {
        let categories;
        categories = document.getElementById('ulCategories');

        fetch('http://localhost:5000/productcategory')
            .then(response => response.json())
            .then(json => {
                let str = '';
                json.forEach(category => {
                    str +=
                        `<li>
                        <a href="${'http://localhost:3000/category/' + category.productCategoryID + '/' + category.categoryName}">
                        <img src="${category.imageFile}" height="85px" width="85px">
                        <p>${category.categoryName}</p>
                        </a>
                        </li>`;
                });

                categories.innerHTML = str;
            });
    }

    // Show recent products 
    function showRecentProducts() {
        let recentProducts;
        recentProducts = document.getElementById('recentProducts');

        fetch('http://localhost:5000/products/getrecent')
            .then(response => response.json())
            .then(json => {
                let str = '';
                json.forEach(product => {
                    str +=
                        `<a href="http://localhost:3000/productdetails/${product.productID}"><div class="col-4">
                        <img src="${product.imageFile}">
                        <h4>${product.name}</h4>
                        <p hidden class="productID">${product.productID}</p>
                        <p class="price">${product.price} DKK</p>
                        <a href="" class="addToCartBtn"><img src="http://localhost:3000/images/cart.png">Tilføj</a>                        
                        </div></a>`;
                });

                recentProducts.innerHTML = str;
            }).then(function () {
                addEventOnAddBtn();
            });
    }

    // Adds products to cart
    function addToCart(obj) {
        let tempProductList = [];
        let products = window.localStorage.getItem('shoppingCart');

        if (!products) {
            tempProductList.push(obj);
            window.localStorage.setItem('shoppingCart', JSON.stringify(tempProductList));
        }
        else {
            let found = false;

            tempProductList = JSON.parse(products);
            tempProductList.forEach(function (product) {
                if (product.productID === obj.productID) {
                    product.quantity += 1;
                    found = true;
                }
            });

            if (!found) {
                tempProductList.push(obj);
            }
        }
        window.localStorage.setItem('shoppingCart', JSON.stringify(tempProductList));
    }

    // Adds events on all add to cart buttons
    function addEventOnAddBtn() {
        let addToCartBtns = document.getElementsByClassName("addToCartBtn");

        Array.from(addToCartBtns).forEach(function (btn) {
            btn.addEventListener("click", e => {
                e.preventDefault();

                let productElement = e.target.parentNode.querySelector('a');

                let imgFile = productElement.querySelector('img').getAttribute('src');
                let name = productElement.querySelector('h4').textContent;
                let productID = productElement.querySelector('p.productID').textContent;
                let price = productElement.querySelector('p.price').textContent;

                let obj = { "imgFile": imgFile, "name": name, "productID": productID, "price": price, "quantity": 1 };
                addToCart(obj);
            });
        });
    }

    document.addEventListener('DOMContentLoaded', e => {
        showCategories();
        showRecentProducts();
    });

</script>
<div class="row" id="homeRow">
    <div class="col-2">
        <h1>Udviklet på vanilla HTML, CSS, JS og Express - Node.js</h1>
        <p>En webshop der er udviklet på vanilla HTML, CSS og JavaScript på frontend-delen! Og en backend der er
            udviklet på Express - Node.js</p>
        <a href="/products" class="btn">Se alle produkter <img src="images/bg-arrow.png" height="80px"></a>
    </div>
    <div class="col-2">
        <img src="images/bg-image.png">
    </div>
</div>
<div class="categories">
    <ul id="ulCategories">
    </ul>

</div>
<!--- Recent added products --->
<div class="small-container">
    <h2>Senest tilføjede produkter</h2>
    <div class="row" id="recentProducts">
    </div>
</div>
</div>