<div class="row" id="homeRow">
    <div class="col-2">
        <h1>Udviklet på vanilla HTML, CSS, JS og Express - Node.js</h1>
        <p>En webshop der er udviklet på vanilla HTML, CSS og JavaScript på frontend-delen! Og en backend der er
            udviklet på Express - Node.js</p>
        <a href="" class="btn">Se alle produkter <img src="images/bg-arrow.png" height="80px"></a>
    </div>
    <div class="col-2">
        <img src="images/bg-image.png">
    </div>
</div>
<!--- Featured categories --->
{{!-- <div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="https://dummyimage.com/300x300/000/fff&text=Placeholder">
            </div>
            <div class="col-5">
                <img src="https://dummyimage.com/300x300/000/fff&text=Placeholder">
            </div>
            <div class="col-5">
                <img src="https://dummyimage.com/300x300/000/fff&text=Placeholder">
            </div>
            <div class="col-5">
                <img src="https://dummyimage.com/300x300/000/fff&text=Placeholder">
            </div>
        </div>
    </div> --}}
    <div class="categories">
        <ul>
            <li>
                <a href="">
                    <img src="images/camera.png" height="85px" width="85px">
                    <p>Foto og video</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="images/camera.png" height="85px" width="85px">
                    <p>Foto og video</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="images/camera.png" height="85px" width="85px">
                    <p>Foto og video</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="images/camera.png" height="85px" width="85px">
                    <p>Foto og video</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="images/camera.png" height="85px" width="85px">
                    <p>Foto og video</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="images/camera.png" height="85px" width="85px">
                    <p>Foto og video</p>
                </a>
            </li>
                        <li>
                <a href="">
                    <img src="images/camera.png" height="85px" width="85px">
                    <p>Foto og video</p>
                </a>
            </li>
                        <li>
                <a href="">
                    <img src="images/camera.png" height="85px" width="85px">
                    <p>Foto og video</p>
                </a>
            </li>
                        <li>
                <a href="">
                    <img src="images/camera.png" height="85px" width="85px">
                    <p>Foto og video</p>
                </a>
            </li>
                        <li>
                <a href="">
                    <img src="images/camera.png" height="85px" width="85px">
                    <p>Foto og video</p>
                </a>
            </li>
                        <li>
                <a href="">
                    <img src="images/camera.png" height="85px" width="85px">
                    <p>Foto og video</p>
                </a>
            </li>
        </ul>

    </div>
    <!--- Featured products --->
    <div class="small-container">
        <h2>Senest tilføjede produkter</h2>
        <div class="row">
            <div class="col-4">
                <img src="https://dummyimage.com/300x300/000/fff&text=Placeholder">
                <h4>Produkt navn</h4>
                <p>100 DKK</p>
            </div>
            <div class="col-4">
                <img src="https://dummyimage.com/300x300/000/fff&text=Placeholder">
                <h4>Produkt navn</h4>
                <p>100 DKK</p>
            </div>
            <div class="col-4">
                <img src="https://dummyimage.com/300x300/000/fff&text=Placeholder">
                <h4>Produkt navn</h4>
                <p>100 DKK</p>
            </div>
            <div class="col-4">
                <img src="https://dummyimage.com/300x300/000/fff&text=Placeholder">
                <h4>Produkt navn</h4>
                <p>100 DKK</p>
            </div>
            <div class="col-4">
                <img src="https://dummyimage.com/300x300/000/fff&text=Placeholder">
                <h4>Produkt navn</h4>
                <p>100 DKK</p>
            </div>
            <div class="col-4">
                <img src="https://dummyimage.com/300x300/000/fff&text=Placeholder">
                <h4>Produkt navn</h4>
                <p>100 DKK</p>
            </div>
            <div class="col-4">
                <img src="https://dummyimage.com/300x300/000/fff&text=Placeholder">
                <h4>Produkt navn</h4>
                <p>100 DKK</p>
            </div>
        </div>
    </div>
</div>