<script>
    // Method for showing all products
    function showAllProducts() {
        let products;
        products = document.getElementById('allProducts');

        fetch('http://localhost:5000/products/')
            .then(response => response.json())
            .then(json => {
                let str = '';
                json.forEach(product => {
                    str +=
                        `<a href="http://localhost:3000/productdetails/${product.productID}"><div class="col-4">
                        <img src="${product.imageFile}">
                        <h4>${product.name}</h4>
                        <p hidden class="productID">${product.productID}</p>
                        <p hidden class="description">${product.description}</p>
                        <p class="price">${product.price} DKK</p>
                        <a href="/" class="addToCartBtn"><img src="http://localhost:3000/images/cart.png">Tilføj</a>                        
                        </div></a>`;
                });
                allProducts.innerHTML = str;
            }).then(function () {
                addEventOnAddBtn();
            });
    }
    
    // On DOMContentLoaded execute showAllProducts()
    window.addEventListener('DOMContentLoaded', e => {
        showAllProducts();
    });

</script>
<!--- Shows all products --->
<div class="small-container">
    <h2>Alle produkter</h2>
    <div class="row" id="allProducts">
    </div>
</div>