<script>
    // Show single product by id 
    function showProductById() {
        let inStock;
        let productImg;
        let productDetails;
        productImg = document.getElementById('productImg');
        productDetails = document.getElementById('productDetails');

        fetch('http://localhost:5000/products/' + {{ id }})
        .then(response => response.json())
        .then(json => {
            let productImgStr = ` <img src="${json.imageFile}" width="100%" height="100%">`;
            let productDetailsStr = `<h1>${json.name}</h1>
                                    <h4>${json.price} DKK</h4>
                                    <select id="quantity"></select>
                                    <a href="/" class="addToCartBtnProductDetails"><img src="http://localhost:3000/images/cart.png">Tilføj</a>
                                    <h3>Beskrivelse</h3>
                                    <p>${json.description}</p>
                                    <p hidden class="productID">${json.productID}</p>`

            inStock = json.inStock;

            productImg.innerHTML = productImgStr;
            productDetails.innerHTML = productDetailsStr;
        })
        .then(function () {
            let str = '';
            for (let i = 1; i <= inStock; i++) {
                str += `<option value="${i}">${i}</option>`;
            }

            let quantity = document.getElementById('quantity');
            quantity.innerHTML = str;
        }).then(function () {
            addEventOnAddBtn();
        });
    }

    // Adds click events on all add to cart buttons 
    function addEventOnAddBtn() {
        let addToCartBtnProductDetails = document.getElementsByClassName("addToCartBtnProductDetails");

        addToCartBtnProductDetails[0].addEventListener("click", e => {
            e.preventDefault();
            quantity = document.getElementById('quantity').value
            let productImg = document.getElementById('productImg')
            let productDetails = document.getElementById('productDetails')

            let imgFile = productImg.querySelector('img').getAttribute('src');
            let name = productDetails.querySelector('h1').textContent;
            let productID = productDetails.querySelector('p.productID').textContent;
            let description = productDetails.querySelector('p').textContent;
            let price = productDetails.querySelector('h4').textContent;

            let obj = { "imgFile": imgFile, "name": name, "productID": productID, "price": price, "description": description, "quantity": quantity };
            addToCart(obj);

        });
    }
    // On DOMContentLoaded execute showProductById()
    window.addEventListener('DOMContentLoaded', e => {
        showProductById();
    });

</script>
<!--- Product details page --->
<div class="small-container">
    <div class="row">
        <div class="col-3" id="productImg">
        </div>
        <div class="col-3" id="productDetails">
        </div>
    </div>
</div>