<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:3000/style.css">
    <script src="http://localhost:3000/webshop.js"></script>
    <title>Webshop</title>
</head>

<body>
    <!-- header section-->
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/">
                        <h1>Webshop</h1>
                    </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="/">Forside</a></li>
                        <li><a href="/products">Produkter</a></li>
                    </ul>
                </nav>
                <a href="/cart"><img src="http://localhost:3000/images/cart.png" height="30px" width="30px"></a>
                {{#if customerData}}
                <a href="http://localhost:3000/customerdetails" style="margin-left: 60px;">Hej, {{customerData.firstName}}</a>
                {{else}}
                <a href="http://localhost:3000/authentication" class="btn" id="login">Log ind<img
                        src="http://localhost:3000/images/person.png" height="25px" width="25px"></a>
                {{/if}}
            </div>
        </div>
    </div>
    {{{body}}}
</body>

</html>